#car-search-form {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    .row {
        display: flex;
        flex-direction: row;
        width: 100%;
        .col{
            display: flex;
            flex-direction: column;
            width: 50%;
        }
    }
    button {
        width: 100%;
    }
}